:host {
    font-family:
	ui-serif,
	Georgia,
	Cambria,
	"Times New Roman",
	Times,
	serif;
    visibility: visible;
    line-height: 1.375;
}
.highlighted-fragment {
    background-color: gainsboro;
}
h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.625;
}
h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.625;
}
h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.625;
}
h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.625;
}
h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.625;
}
h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    line-height: 1.625;
}
p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}
ol {
    margin-top: 0rem;
    margin-bottom: 1rem;
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 0.5rem;
}
ul {
    margin-top: 0rem;
    margin-bottom: 1rem;
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 0.5rem;
}
figure {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
}
figure figcaption {
    font-size: 0.875rem;
    color: darkslategray;
}
img {
    max-width: 100%;
}
table {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightslategray;
}
table th,
table td {
    border-width: 1px;
    border-color: lightslategray;
    padding: 0.75rem;
    vertical-align: top;
}
table thead th {
    border-width: 2px;
    vertical-align: bottom;
}
table tr.odd {
    background-color: gainsboro;
}
blockquote {
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
    border-left-width: 4px;
    border-color: lightslategray;
    padding: 0.5rem;
}
blockquote p {
    margin-bottom: 0rem;
}
pre {
    white-space: pre-wrap;
    padding: 0.5rem;
}
pre > code {
    display: block;
}
.card {
    display: flow-root;
}
.card .thumbnail {
    display: flex;
    justify-content: center;
}
.card .thumbnail img {
    max-height: 20rem;
    width: auto;
    max-width: 100%;
}
.card .title {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;
    line-height: 1.25;
}
.card .url {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.25;
}
.card .site {
    white-space: nowrap;
    color: darkgray;
}
a.attachment {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.25;
}
@media (min-width: 512px) {
 @media (min-width: 512px) {
    :host {
	font-size: 1.125rem;
	line-height: 1.625;
    }
     h1 {
 	font-size: 1.875rem;
	line-height: 2.25rem;
     }
     h2 {
 	font-size: 1.875rem;
	line-height: 2.25rem;
     }
     h3 {
 	font-size: 1.5rem;
	line-height: 2rem;
     }
     h4 {
 	font-size: 1.25rem;
	line-height: 1.75rem;
     }
     img {
 	max-width: 28rem;
}

@media (min-width: 768px) {
    img {
	max-width: 32rem;
    }
    .card .thumbnail {
	float: right;
    }
    .card .thumbnail {
	margin-left: 0.5rem;
    }
    .card .headline {
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
	clear: both;
    }
    .card .url {
	clear: both;
    }
}
