a {
    color: rgb(37 99 235);
}
a:focus,
a:hover {
    color: rgb(75 85 99);
}
.button:focus,
.button:hover {
    color: rgb(75 85 99);
}
.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.alert {
    margin-bottom: 0px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: rgb(254 240 138);
}
.alert-info {
    color: rgb(29 78 216);
}
.alert-warning {
    color: rgb(126 34 206);
}
.alert-danger {
    color: rgb(185 28 28);
}

div.progress-bar {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 50;
    height: 0.25rem;
    background-color: rgb(67 56 202);
    transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);
}

div.viewport {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.article-viewport {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.footer {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(55 65 81);
    padding: 0.5rem;
    text-align: center;
}

div.left-half {
    width: 50%;
    text-align: left;
}

div.right-half {
    width: 50%;
    text-align: right;
}

div.navbar {
    display: flex;
    padding: 0.5rem;
    background-color: rgb(243 244 246);
}

div.navbar img.logo {
    display: inline-block;
    height: 2rem;
}

div.navbar span.info {
    color: rgb(75 85 99);
    vertical-align: bottom;
    white-space: nowrap;
}

div.navbar div.toolbar {
    flex-grow: 1;
    text-align: right;
}

div.navbar div.toolbar button {
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    color: rgb(147 51 234);
    appearance: none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-left: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

div.article-container {
    display: flow-root;
    background-color: rgb(255 255 255);
    padding: 0.5rem;
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
}

div.article-antihero {
    float: left;
    margin-right: 0.5rem;
}
div.article-antihero img {
    width: 4rem;
    height: 4rem;
}
div.article-hero img {
    width: auto;
    max-width: 100%;
    max-height: 12rem;
}
h4.article-title {
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.375;
    width: 100%;
}
h5.article-byline {
    font-size: 0.875rem;
    line-height: 1.375;
    color: rgb(156 163 175);
}
h5.article-byline span {
    white-space: nowrap;
}
form {
    place-self: end;
    background-color: rgb(255 255 255);
    padding: 0px;
    width: 100%;
}
form textarea {
      line-height: 1.625;
      border-width: 1px;
      border-radius: 0.25rem;
      resize: none;
      box-sizing: border-box;
      border-color: rgb(75 85 99);
      height: 5rem;
      padding: 0.25rem;
      width: 100%;
}
form .button {
    display: inline-block;
    flex: none;
    appearance: none;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    background-color: rgb(147 51 234);
    color: rgb(255 255 255);
}
form .toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.25rem;
    padding-top: 0.5rem;
}

@media (min-width: 512px) {
    div.navbar div.toolbar button {
	padding-left: 1rem;
	padding-right: 1rem;
    }
    h4.article-title {
	font-size: 1.5rem;
	line-height: 2rem;
	width: auto;
    }
    h5.article-byline {
	font-size: 1rem;
	line-height: 1.5;
    }
}

@media (min-width: 768px) {
    div.article-hero {
	float: right;
	margin-left: 0.5rem;
    }
    div.article-hero img {
	max-height: 16rem;
	max-width: 32rem;
    }
}

@media (min-width: 1024px) {
    html {
	font-size: 18px;
    }
    div.viewport {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
    }
}
