div {
    display: block;
}
a {
    color: rgb(37 99 235);
}
a:focus,
a:hover {
    color: rgb(75 85 99);
}
.button:focus,
.button:hover {
    color: rgb(75 85 99);
}
.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.alert {
    margin-bottom: 0px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: rgb(254 240 138);
}
.alert-info {
    color: rgb(29 78 216);
}
.alert-warning {
    color: rgb(126 34 206);
}
.alert-danger {
    color: rgb(185 28 28);
}

div#progress-bar {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 50;
    height: 0.25rem;
    background-color: rgb(67 56 202);
    transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);
}

div.viewport {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div article-viewport {
    flex-grow: 1;
}

div.footer {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(55 65 81);
    padding: 0.5rem;
    text-align: center;
}

div.left-half {
    width: 50%;
    text-align: left;
}

div.right-half {
    width: 50%;
    text-align: right;
}

div.navbar {
    display: flex;
    padding: 0.5rem;
    background-color: rgb(243 244 246);
}

div.navbar img.logo {
    display: inline-block;
    height: 2rem;
}

div.navbar span.info {
    color: rgb(75 85 99);
    vertical-align: bottom;
    white-space: nowrap;
}

div.navbar div.toolbar {
    flex-grow: 1;
    text-align: right;
}

div.navbar div.toolbar button {
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    color: rgb(147 51 234);
    appearance: none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-left: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

div.article-container {
    display: flow-root;
    background-color: rgb(255 255 255);
    padding: 0.5rem;
    width: 100%;
    overflow-x: hidden;
}

div.content-html {
    font-family:
	ui-serif,
	Georgia,
	Cambria,
	"Times New Roman",
	Times,
	serif;
    color: rgb(31 41 55);
    line-height: 1.375;
    margin-bottom: 0.5rem;
}

div.content-html h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625;
}
div.content-html h2 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.625;
}
div.content-html h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625;
}
div.content-html h4 {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625;
}
div.content-html h5 {
    margin-bottom: 0.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.625;
}
div.content-html h6 {
    margin-bottom: 0.25rem;
    font-weight: 700;
    line-height: 1.625;
}
div.content-html p {
    margin-bottom: 1rem;
}
div.content-html ol {
    margin-bottom: 1rem;
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 0.5rem;
}
div.content-html ul {
    margin-bottom: 1rem;
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 0.5rem;
}
div.content-html figure {
    margin-bottom: 1rem;
}
div.content-html img {
    max-width: 100%;
}
div.content-html textarea {
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(75 85 99);
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
div.content-html table {
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-width: 2px;
    border-color: rgb(156 163 175);
}
div.content-html table th,
div.content-html table td {
    border-width: 1px;
    border-color: rgb(156 163 175);
    padding: 0.75rem;
    vertical-align: top;
}
div.content-html table thead th {
    border-width: 2px;
    vertical-align: bottom;
}
div.content-html table tr.odd {
    background-color: rgb(249 250 251);
}
div.content-html blockquote {
    margin-bottom: 1rem;
    border-left-width: 4px;
    border-color: rgb(156 163 175);
    padding: 0.5rem;
}
div.content-html blockquote p {
    margin-bottom: 0px;
}
div.content-html pre {
    white-space: pre-wrap;
    padding: 0.5rem;
}
div.content-html pre > code {
    display: block;
    background-color: rgb(249 250 251);
}
div.content-html dd,
div.content-html dt,
div.content-html li {
    margin-bottom: 0.25rem;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(249 250 251);
    padding: 0.5rem;
}
form .line {
    margin-bottom: 0.5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
}
form .line input[type=text] {
    flex-grow: 1;
}
form .line input[type=email] {
    flex-grow: 1;
}
form .field {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.25rem;
}
form .long {
    width: 100%;
}
form .center {
    width: 100%;
    text-align: center;
}
form hr {
    margin-bottom: 0.5rem;
    border-color: rgb(229 231 235);
}
form .button {
    display: inline-block;
    flex: none;
    appearance: none;
    border-radius: 0.25rem;
    border-width: 0px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}
form .button[type=reset] {
    background-color: rgb(219 39 119);
    color: rgb(255 255 255);
}
form .button[type=submit] {
    background-color: rgb(147 51 234);
    color: rgb(255 255 255);
}
form .toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.25rem;
    padding-top: 0.5rem;
}
form section {
    border-bottom-width: 1px;
    padding-top: 0.5rem;
}
form section:last-child {
    border-bottom-width: 0px;
    padding-bottom: 0px;
}
form label {
    display: flex;
    column-gap: 0.5rem;
}
form label .focus {
    font-weight: 700;
    font-style: italic;
}
form select {
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(75 85 99);
    padding-left: 0.25rem;
}
form .code {
    font-family:
	ui-monospace,
	SFMono-Regular,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace;
}
form input[type=number] {
    width: 4rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(75 85 99);
    line-height: 1.625;
}
form input[type=text] {
    width: 12rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(75 85 99);
    line-height: 1.625;
}
form input[type=text].long {
    width: 20rem;
}
form input[type=text].short {
    width: 6rem;
}
form input[type=email] {
    width: 20rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(75 85 99);
    line-height: 1.625;
}
form input[type=password] {
    width: 10rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: rgb(147 51 234);
    line-height: 1.625;
}
div.article-antihero {
    float: left;
    margin-right: 0.5rem;
}
div.article-antihero img {
    width: 4rem;
    height: 4rem;
}
div.article-hero img {
    width: auto;
    max-width: 100%;
    max-height: 12rem;
}
h4.article-title {
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.375;
    width: 100%;
}
h5.article-byline {
    font-size: 0.875rem;
    line-height: 1.375;
    color: rgb(156 163 175);
}
h5.article-byline span {
    white-space: nowrap;
}
form.comment-form {
    background-color: rgb(255 255 255);
    row-gap: 0.5rem;
    padding: 0px;
    width: 100%;
}
form.comment-form textarea {
      line-height: 1.625;
      border-width: 1px;
      border-radius: 0.25rem;
      resize: none;
      box-sizing: border-box;
      border-color: rgb(75 85 99);
      height: 5rem;
      padding: 0.25rem;
}

@media (min-width: 512px) {
    div.navbar div.toolbar button {
	padding-left: 1rem;
	padding-right: 1rem;
    }
    div.content-html {
	font-size: 1.125rem;
	line-height: 1.625;
    }
    div.content-html h1 {
	font-size: 1.875rem;
	line-height: 2.25rem;
    }
    div.content-html h2 {
	font-size: 1.875rem;
	line-height: 2.25rem;
    }
    div.content-html h3 {
	font-size: 1.5rem;
	line-height: 2rem;
    }
    div.content-html h4 {
	font-size: 1.25rem;
	line-height: 1.75rem;
    }
    div.content-html img {
	max-width: 28rem;
    }
    h4.article-title {
	font-size: 1.5rem;
	line-height: 2rem;
	width: auto;
    }
    h5.article-byline {
	font-size: 1rem;
	line-height: 1.5;
    }
}

@media (min-width: 768px) {
    div.article-hero {
	float: right;
	margin-left: 0.5rem;
    }
    div.content-html img {
	max-width: 32rem;
    }
    div.article-hero img {
	max-height: 16rem;
	max-width: 32rem;
    }
}

@media (min-width: 1024px) {
    html {
	font-size: 18px;
    }
    form section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1rem;
    }
    div.viewport {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
    }
}
